<div class="fondo-footer">
    <div class="container pt-5 pb-4 d-flex justify-content-between align-items-baseline">
        <div>
            <p class="p-pqueño-blanco">Calle falsa <br>
                Dirección nº1 <br>
                email.falso@gmail.com <br>
                Fax 012 34 56 78
            </p>
        </div>

        <button class="boton-footer">Contacto</button>
    </div>
</div>

<div class="fondo-footer2">
    <div class="container pt-5 pb-5 d-flex justify-content-between align-items-baseline">
        <img class="logo-footer" src="../../assets/imgs/logo_cabecera_stiky.png" alt="">
        <p class="texto-blanco">Texto cualquiera</p>
    </div>
</div>