<div class="container p-2">
    <div class="container p-3">
        <h3 class="text-center texto-verde">Prueba 1:</h3>
        <h4 class="text-center texto-verde">Timer e Interval</h4>
    </div>

    <hr>

    <div class="container">
        <p class="texto-gris">Se trata de un Observable que se ejecuta una vez han pasado 3 segundos (o 3000 milisegundos). Después nos
        susbscrimos al esa variable y podemos escribir código para que haga lo que nosotos queramos una vez hayan pasado
        esos 3 segundos.</p>
    </div>
</div>