
<h1>Cambio para prueba de cambio de rama en Git por comandos</h1>
<app-header></app-header>

<div class="cuerpo-fondo">
    <div class="container pt-4 pb-5">
        <div class="comp-contenedor">
            <div class="container">
                <div class="container pt-4">
                    <h1>ReactiveX Observables</h1>
                </div>
                <!--
                <app-timer-interval></app-timer-interval>

                <hr>
-->
                <app-from-event></app-from-event>

                <hr>

                <app-map-filter></app-map-filter>

                <hr>

                <app-behavior-subject></app-behavior-subject>
            </div>
        </div>
    </div>
</div>
<div class="cuerpo-fondo">
    <div class="container pt-4 pb-5">
        <div class="comp-contenedor">
            <div class="container">
                <div class="container pt-4">
                    <h1>Arrays Métodos</h1>
                </div>

                <app-array-map></app-array-map>

                <hr>

                <app-filter></app-filter>
            </div>
        </div>
    </div>
</div>
<div class="cuerpo-fondo">
    <div class="container pt-4 pb-5">
        <app-foreach></app-foreach>
    </div>
</div>


<app-footer></app-footer>