<div class="container p-2">
    <div class="container p-3">
        <h3 class="text-center texto-verde">Prueba 2:</h3>
        <h4 class="text-center texto-verde">fromEvent</h4>
    </div>

    <hr>

    <div class="container">
        <p class="texto-gris">El fromEvent nos va a permitir convertir una variable en observable a través de un evento de JS. Es decir, las
            operaciones que declaremos dentro del cuerpo del método subcribe() se ejecutarán cuando se realice el evento.</p>
    </div>
    <div class="cuadro-fromEvent" id="elemento"></div>
</div>