<div class="container p-2">
    <div class="container p-3">
        <h3 class="text-center texto-verde">Prueba 3:</h3>
        <h4 class="text-center texto-verde">map y filter</h4>
    </div>

    <hr>

    <div class="container">
        <p class="texto-gris">Filter es para filtrar (Capitan obvio). De una lista de numeros del 1 al 5 va a coger son los números pares y después
            los va a elevar al cuadrado con map, que lo que hace es pasar por cada elemento de la lista y ejecutar las
            operaciones que nosotros le especifiquemos en cada una de ellas.</p>
    </div>
</div>